$color-main: #0075FF;
$color-footer: #f4f8fe;

@mixin btn-sm-modify() {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

@mixin btn-base() {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;

}

.btn-main {
  @include btn-base();
  background-color: $color-main;
  color: white;
  font-weight: 600;
  border: solid 1px $color-main;

  &:hover {
    background-color: white;
    color: $color-main;

  }

  &-s {
    @extend .btn-main;
    @include btn-sm-modify();
  }
}

.btn-sec {
  @include btn-base();
  color: #000000;
  font-weight: 600;
  background-color: transparent;
  border: none;

  &:hover {
    color: #888;
  }

  &-s {
    @extend .btn-sec;
    @include btn-sm-modify();

  }
}

.main-menu {
  margin-bottom: 0;
  padding: 0;


  li {
    padding-right: 5px;
    font-size: 0.80rem;
    list-style: none;
    display: inline;

    a {
      font-size: 1rem;
      font-weight: 600;
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.icon-sm {
  i {
   font-size: 1.25rem;
    color: $color-main;
    padding: 0.4rem 0.65rem;
    border-radius: 50%;
    box-shadow: 0 0 10px #00000015;


  }
}

.benefit {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;

  .icon {
    color: $color-main;
    font-size: 7rem;
  }

  .description {
    .title {
      font-size: 1.7rem;
    }

    .text {
      color: #888;
      font-size: 0.8rem;
      font-weight: 600;
    }

  }

  .cta {
    color: $color-main;
    font-weight: 600;
    margin-top: 3rem;
    a{
      text-decoration: none;
    }
  }
}

.icon-desc {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {

    font-size: 5rem;
    padding: 0;
    color: $color-main;
    font-size: 10rem;
  }

  .title {
    margin-top: -2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}